*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}
.container{
    width: 90vw;
    padding: 2rem 1rem;
    margin: auto;
}
a {
    text-decoration: none;
}
.header_container{
    margin-bottom: 2.5rem;
}
.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}
.header_disc{
    max-width: 568px;
    text-align: center;
    color: rgb(110, 105, 105);
    margin: 0 auto;
}
.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}
.card_container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(175, 164, 164);
    border-radius: 2px;
}
.card_image_container{
    position: relative;
    overflow: hidden;
    height: 11rem;
}
.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1.5rem;
}
.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}
.card_title{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(79, 75, 75);
    line-height: 1.5rem;
    margin-bottom: 0.2rem;
}
.card_title_container:hover .card_title{
    color: blue;
}
.card_desc{
    color: rgb(46, 39, 39);
    font-size: 0.9rem;
}
.card_footer_container{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.4rem;
}
.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.author_avatar_container{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(46, 43, 43);
    border-radius: 50%;
}
.author_info_container{
    display: flex;
    flex-direction: column;
}
.author_name{
    color: rgb(73, 73, 149);
}
.author_date{
    color: rgb(75, 65, 65);
}
.card_tag_container{
    font-size: 0.9rem;
    border: 1px solid rgb(170, 157, 157);
    border-radius: 2px;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
    color: grey;
    
}
.card_tag_container_parent{
    display: flex;
    align-items: center;
}
